[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lambeq = {extras = ["depccg"], version = "*"}
pandas = "*"
discopy = "*"
tensornetwork = "*"
torch = {version = "==1.6.0", file = "https://download.pytorch.org/whl/cpu/torch-1.6.0-cp38-none-macosx_10_9_x86_64.whl"}
torchvision = {version = "==0.7.0", file = "https://download.pytorch.org/whl/torchvision-0.7.0-cp38-cp38-macosx_10_9_x86_64.whl"}
nltk = "*"
cython = "*"
numpy = "*"
depccg = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
